@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.instaLogo:hover {
  /* background: -webkit-linear-gradient(to right #405DE6, #5B51D8, #833AB4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
